.agenda-footer {
  display: flex;
  flex-direction: row;
  align-items: center;

  .timeInput {
    width: 10%;
  }

  .descInput {
    width: 70%;
    height: 100%;
    padding: 0;
  }

  .toolButtonContainer {
    width: 10%;
    padding-left: 10px;
  }

  input {
    width: 100%;
  }
}
