.social-media {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding-top: 30px;

  .socMedia {
    flex: 1;
    list-style: none;
    padding: 9px 9px 9px 0px;
    font-size: 0.65em;
    color: #fff;
    cursor: pointer;
    border-radius: 3px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    .iconBox {
      padding-top: 5px;
      border-radius: 50%;
      float: left;
      width: 35px;
      height: 35px;
      text-align: center;

      i {
        font-size: 24px; 
      }

      &.fb {
        background: #3b5998;
      }
   
      &.tw {
        background: #55acee;
      }
   
      &.li {
        background-color: #0077b5;
      }
    }

    p {
      color: black;
      margin-left: 15px;
      font-size: 14px;
    }
  }
   
}
