{
  "presets": ["modern-browsers", "modern-browsers/safari9", "stage-0", "react"],
  "env": {
    "development": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "react-hot-loader/babel"
      ]
    },
    "production": {
      "plugins": [
        "transform-object-rest-spread",
        "transform-class-properties",
        "transform-remove-console"
      ]
    }
  }
}
