.pill {
  font-size: 0.7rem;
  padding: 3px 5px;
  text-align: center;
  background-color: #ccc;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid;

  &.success,
  &.success strong {
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
  }

  &.info,
  &.info strong {
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
  }

  &.warning,
  &.warning strong {
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
  }

  &.danger,
  &.danger strong {
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
  }
}
