.pill {
  font-size: 0.7rem;
  padding: 3px 5px;
  text-align: center;
  background-color: #CCC;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: 3px;
  border: 1px solid;

  &.success,
  &.success strong {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
  }

  &.info,
  &.info strong {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }

  &.warning,
  &.warning strong {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
  }

  &.danger,
  &.danger strong {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
  }
}
