.login-box {
  margin-top: 40px;
  margin-bottom: 40px;
  text-align: center;
  width: 60%;
  max-width: 400px;

  h2 {
    text-align: center;
    margin: 0 0 15px;
  }

  .form {
    margin-bottom: 20px;
    text-align: center;

    .btn {
      width: 100%;
      margin-top: 20px;
    }
  }

  .inputField {
    width: 100%;
    display: block;
    text-align: left;
    margin: 0;
    padding: 0;
    vertical-align: middle;
    margin-top: 20px;
    font-weight: bold;

    input {
      border: 1px solid #bbb;
      border-radius: 3px;
      font-size: 1.1em;
      outline: none;
      padding: 5px;
      width: 100%;
      font-weight: normal;
      margin-top: 5px;
    }
  }
}
