.agendaItem {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10px;
  width: 100%;

  border-bottom: 1px solid #ccc;

  &-date {
    width: 14%;
  }

  &-date-input {
    width: 14%;
  }

  &-time {
    width: 11%;
  }

  &-time-input {
    width: 11%;
  }

  input {
    width: 100%;
    height: 100%;
    height: 36px;
  }

  &-desc {
    width: 54%;
  }

  &-desc-input {
    width: 54%;
  }

  &-toolButtonContainer {
    padding-left: 10px;
    margin-left: auto;
  }

  &-confirmEditBtn {
    width: 10%;
    padding-left: 12px;
  }

}
