.playbookListItem {
  display: flex;
  flex-direction: row;
  padding: 20px 10px;
  align-items: center;
  border-bottom: 1px solid #F2F3F6;

  @media (max-width: 30em) {
    border: 1px solid #CCC;
    margin-top: 10px;
    border-radius: 3px;
    padding: 10px;
    flex-direction: column;
    font-size: 1.2rem;
  }

  &:hover {
    background-color: #FAFAFA;
  }

  .date,
  .main,
  .action {
    display: flex;
    flex-wrap: wrap;
  }

  .main {
    flex-grow: 1;
    flex-direction: column;

    @media (max-width: 30em) {
      width: 100%;
      margin: 0 10px 10px;
    }

    .name {
      align-items: center;
      color: #2E404E;
      display: flex;
      flex-direction: row;
      font-size: 1.1em;
      font-weight: bold;
      width: 100%;
      margin-bottom: 5px;

      input,
      span {
        display: flex;
      }

      input {
        border-radius: 3px;
        border-bottom: 1px solid #EE6352;
        padding: 5px 10px;
        width: auto;
      }

      .editPlaybookName,
      .playbookName {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: flex-start;
        width: 98%;

        .hidden {
          display: none;
        }
      }

      .editPlaybookName {

        input {
          flex-grow: 1;
          margin-right: 0;
        }

        .btn {
          padding: 7px 15px;
          margin-left: 5px;
          height: 100%;
        }
      }

      span {
        border-bottom: 1px solid transparent;
        padding: 5px 0;
      }
    }

    .meta {
      display: flex;
      flex-direction: row;
      align-items: baseline;
      font-size: 0.85em;

      @media (max-width: 30em) {
        flex-direction: column;
      }

      strong {
        padding-right: 5px;
      }
    }

    .section {
      display: flex;
      flex-direction: row;
      margin-left: 10px;
      align-items: flex-start;

      @media (max-width: 30em) {
        padding: 10px 0;
        align-items: baseline;
        margin: 0;
      }

      &::after {
        content: '|';
        margin-left: 10px;
        color: #CCC;

        @media (max-width: 30em) {
          content: '';
          margin-left: 0;
        }
      }

      .editable {
        cursor: pointer;
        padding-bottom: 2px;
        color: #EE6352;
        border-bottom: 1px dotted #EE6352;
      }

      .flex .btn {
        position: relative;
        transform: translateY(-50%);

        @media (max-width: 30em) {
          transform: translateY(0);
          padding: 0 5px;
        }
      }
    }

    .assigned {
      margin-left: 20px;
    }
  }

  .actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    @media (max-width: 30em) {
      width: 100%;

      .btn {
        font-size: 0.85em;
        padding: 7px 20px;
      }
    }

    .indicator {
      margin-left: 10px;
    }

  }
}
