.profileImage {
  float: left;

  img {
    max-width: 300px;
  }
}

.profileDesc {
  margin-left: 20px;
  float: left;
}

.resultsInfo {
  background-color: #fff;
  box-shadow: 5px 3px 3px #C3C0C0;

  .resultsInfoBody {
    width: 70%;
    padding: 12px;
    color: #474747;
    overflow: auto;

    .resultsTitle {
      padding-left: 10%;

      .playbookInfo {
        display: inline-block;
        padding-left: 15px;

        .textInfoComp {
          font-size: 13px;
        }

        .textInfoUser {
          display: block;
          font-size: 15px;
          font-weight: 500;
        }
      }

      .playbookTitle {
        display: table-cell;
        vertical-align: middle;

        .textInfoPerc {
          font-size: 17px;
          padding-left: 15px;
        }
      }
    }
  }
}

.tasksTab {
  text-transform: uppercase;
  padding-top: 15px;
  width: 70%;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 14px;
  color: #AFA7A7;
  border-bottom: 1px solid #E6DEDE;

  .comTask, .incomTask {
    width: 30%;
    display: inline-block;
    padding-bottom: 13px;
    text-align: center;

    &.selected {
      border-bottom: 2px solid #EE6352;
      color: #474747;
    }
  }
}

