.userList {

  .modalContainer {
    position: fixed;
    z-index: 9;
  }

  .table {
    margin-bottom: 20px;
  }

  &-actionBar {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    text-align: right;
    padding-bottom: 10px;

    .buttonGroup {
      margin-left: auto;
    }
  }

  &-metadata {
    text-align: right;
    background: #F2F3F6;
    color: #444;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px 20px;
  }

  .cell {

    &.name {
      width: 30%;
    }

    &.email {
      width: 25%;
    }

    &.role {
      width: 10%;
    }

    &.actions {
      margin-left: auto;
      text-align: right;
    }

    .cell-heading.actions {
      text-align: left;
    }

    .profile-img {
      float: left;
      width: 36px;
      height: 36px;
      background: #CCC;
      overflow: hidden;
      border-radius: 100%;
      margin-right: 10px;

      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
  }

  .admin {
    font-weight: bold;
    text-transform: uppercase;
    font-size: 0.5em;
    margin-left: 10px;
    padding: 5px;
    background-color: #EE6352;
    color: white;
    border-radius: 2px;
  }
}
