.alert {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 10px 0 0;
  padding: 15px;
  background-color: #EEE;
  border: 1px solid #CCC;
  border-right-size: 4px;
  text-align: center;
  align-items: baseline;
  line-height: 1.2;

  .content {
    font-size: 0.9em;
  }

  &.success,
  &.success strong {
    color: #3C763D;
    background-color: #DFF0D8;
    border-color: #D6E9C6;
  }

  &.info,
  &.info strong {
    color: #31708F;
    background-color: #D9EDF7;
    border-color: #BCE8F1;
  }

  &.warning,
  &.warning strong {
    color: #8A6D3B;
    background-color: #FCF8E3;
    border-color: #FAEBCC;
  }

  &.danger,
  &.danger strong {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
  }

  .closeBtn {
    display: flex;
    justify-content: center;
    margin-left: auto;
  }

  strong {
    font-weight: bold;
  }
}
