.playbookEditorHeader {
  display: flex;
  flex-direction: row;

  .danger {
    color: #D00;
    margin-left: 1em;
  }

  .arrows {
    margin-right: 10px;
  }

  .actions {
    margin-left: auto;
  }
}
