.playbookList {
  .cell {

    &.name {
      width: 30%;
    }

    &.modified {
      width: 13%;
    }
    &.assigned {
      width: 13%;
    }
    &.status {
      width: 13%;
    }

    &.actions {
      margin-left: auto;
    }
  }
}
