.playbookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  &-sidebar {
    padding-top: 40px;
    width: 25%;
    background-color: #EBECEE;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  &-body {
    width: calc(75%);
    padding: 40px 30px;
  }

  .cell {

    &.name {
      width: 30%;
    }

    &.modified {
      width: 13%;
    }

    &.assigned {
      width: 13%;
    }

    &.status {
      width: 13%;
    }

    &.actions {
      margin-left: auto;
    }
  }

  &-metadata {
    text-align: right;
    background: #F2F3F6;
    color: #444;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px 20px;
  }
}

#paginate {

  ul {
    padding-left: 15px;
    padding-right: 15px;
    text-align: center;
  }

  li {
    display: inline-block;
    padding-left: 15px;
    padding-right: 15px;
    cursor: pointer;

    &.disabled,
    &.disabled a {
      cursor: not-allowed;
      pointer-events: none;
      color: #AAA;
    }

    &.active a {
      color: #333;
    }
  }

  &.break a {
    cursor: default;
  }

  $.active li {
    background-color: #CCC;
  }
}
