.playbookList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-grow: 1;

  @media (max-width: 30em) {
    flex-direction: column;
  }

  &-sidebar {
    padding-top: 40px;
    width: 25%;
    background-color: #EBECEE;
    align-items: center;
    justify-content: center;
    text-align: center;

    @media (max-width: 30em) {
      width: 100%;
      order: 0;
      padding: 20px 0;
    }
  }

  &-body {
    width: calc(75%);
    padding: 40px 30px;

    @media (max-width: 30em) {
      padding: 20px 10px;
      width: 100%;
      order: 2;
    }
  }

  .cell {

    &.name {
      width: 30%;
    }

    &.modified {
      width: 13%;
    }

    &.assigned {
      width: 13%;
    }

    &.status {
      width: 13%;
    }

    &.actions {
      margin-left: auto;
    }
  }

  &-metadata {
    text-align: right;
    background: #F2F3F6;
    color: #444;
    font-size: 0.75em;
    font-weight: bold;
    padding: 10px 20px;
  }
}
