.playbookKnowledgeCentre {
  .option {
    font-size: 0.9rem;
    padding: 10px;
    cursor: pointer;
    background-color: #f5f5f5;
    color: #337ab7;
    margin-bottom: 3px;
    font-weight: bold;

    &:hover {
      background-color: #fff;
      color: #ee6352;
    }

    i {
      margin-right: 5px;
    }

    &.active {
      background-color: #337ab7;
      color: #fff;
    }
  }
}
