html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  background: #ddd;
  color: #33333a;

  font-family: 'Open Sans', sans-serif;
  font-feature-settings: normal;
  font-kerning: normal;
  font-size: 16px;
  font-variant-ligatures: normal;
  line-height: 1.2;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  margin: 0 auto;
  width: 90%;
}
