.table {
  display: flex;
  flex-direction: column;
  border: 1px solid #DBDCE2;
  width: 100%;
  border-radius: 3px;

  &-header {
    display: flex;
    flex-direction: row;
    font-weight: bold;
    border-bottom: 1px solid #DBDCE2;
    background-color: #F2F3F6;
  }

  &-row {
    display: flex;
    flex-direction: row;
  }

  .cell {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;

    &-heading {
      color: #767E95;
      font-size: 0.75rem;
      font-weight: 700;
      text-align: left;
      text-transform: uppercase;

      &:last-child {
        border-right: 0;
      }
    }
  }
}
