.tooltip {
  background: #444;
  color: #FFF;
  position: absolute;
  right: -40%;
  bottom: 100%;
  padding: 2px 5px;
  font-size: 10px;
  font-weight: normal;
  width: 400%;
  border-radius: 3px;
  opacity: 0.85;
  margin-bottom: 7px;
  text-align: center;

  &::after {
    top: 100%;
    right: 10%;
    border: solid transparent;
    content: ' ';
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-top-color: #444;
    border-width: 5px;
    margin-left: -5px;
  }

  &.right {

  }
}
