html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #e0e0e0;
  color: #777781;
  height: 100vh;

  font-family: Gotham, 'Open Sans', sans-serif;
  font-feature-settings: normal;
  font-kerning: normal;
  font-size: 16px;
  font-variant-ligatures: normal;
  line-height: 1.2;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 40px;
}

.app {
  display: flex;
  flex-direction: row;
  min-height: 100vh;

  &-globals,
  &-body {
    display: flex;
    flew-grow: 1;
    flex-direction: column;
  }

  &-globals {
    background: #2E404E;
    width: 20%;
  }

  &-body {
    width: 80%;
  }

  &-header {
    background: #EE6352;
    padding: 20px;
    text-align: center;
    width: 100%;

    .logo {
      color: #fff;
      font-size: 1.8em;
      font-weight: bold;
    }
  }

  &-sidebar {
  }

  &-footer {
    color: rgba(255,255,255,0.4);
    font-size: 0.75rem;
    margin-top: auto;
    padding: 20px;

    p {
      line-height: 1.4;
    }
  }
}

.logout {
  background: transparent;
  border: 0;
  color: #777;
  font-size: 0.75em;
  margin: auto 20px auto auto;
  padding: 10px 15px;

  &:hover {
    color: #EE6352;
    background-color: rgba(0,0,0,0.05);
  }
}

.sidebar-copy {
  background-color: rgba(0,0,0,0.15);
  box-shadow: 0 0 0 1px rgba(255,255,255,.05), inset 0 0 .25em 0 rgba(0,0,0,.25);
  border-radius: 3px;
  font-size: 0.85rem;
  line-height: 1.4;
  margin: 20px 10px 30px;
  padding: 1.25em;
  display: none;

  p {
    margin: 0;

    &+p {
      margin-top: 1em;
    }
  }
}

.lede {
  font-weight: bold;
}

.align-left {
  text-align: left;
}

.align-right {
  text-align: right;
}

.sidebar-button_link {
  background: transparent;
  border: 0;
  color: #EE6352;
  font-weight: bold;
}

.sidebar-menu {
  list-style: none;
  padding: 0;

  li {
    color: #7B8C95;
    cursor: pointer;
    display: flex;
    font-size: 0.75em;
    font-weight: bold;
    margin: 0;
    padding: 15px 10px 15px 30px;
    text-align: middle;
    text-transform: uppercase;

    .oi {
      margin-right: 10px;
    }

    &:hover {
      background: #435360;
      color: rgba(255,255,255,0.7);
    }
  }
}
