html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

html, body {
  height: 100%;
}

body {
  background: #ddd;
  color: #777781;

  font-family: 'Open Sans', sans-serif;
  font-feature-settings: normal;
  font-kerning: normal;
  font-size: 16px;
  font-variant-ligatures: normal;
  line-height: 1.2;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}

.container {
  padding: 20px;
  width: 100%;
  min-height: 800px;
}

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;

  &-header,
  &-body,
  &-footer {
    display: flex;
    flex-direction: row;
    padding: 20px;
  }

  &-header {
    background: #4A167C;
  }

  &-body {
    flex-grow: 1;
    padding: 0;

    .sidebar {
      background: #313131;
      color: #fff;
      padding: 20px;
      width: 25%;
    }

  }

  &-footer {
    background: #4A167C;
    color: #fff;
    font-size: 0.75rem;
  }

  .logo {
    color: #fff;
    font-size: 1.8em;
    font-weight: bold;
  }
}

.logout {
  background: transparent;
  border: 0;
  color: #9172AF;
  font-size: 0.75em;
  margin-left: auto;

  &:hover {
    color: #fff;
  }
}
